<%= render 'shared/nav' %>
<%= render 'shared/flash' %>

<h1>Songbase Admin</h1>
<h2>Books</h2>

<%= link_to 'New Book', new_admin_book_path, class: "new_song_link" %>

<div className="admin_list">
  <table className="admin_table">
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td>
            <%= link_to book.name, admin_book_path(book), class: "edit_song_link" %>
          </td>
          <td>
            <div className="edit_timestamp"><%="Edited #{time_ago_in_words(book.updated_at)} ago"%></div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>